.body-container {
    padding: 40px 100px;
}

.all-container {
    min-height: 600px;
}

.all-container .layui-tab-content {
    padding: 30px 30px;
}

.msg-div-description-box {
    /*border: 1px dashed #000;*/
    width: 85%;
    margin: 100px auto 0;

}

.msg-div-description-box .msg-div-description-title {
    font-size: 30px;
}

.msg-div-description-box .msg-div-description-words {
    margin-top: 15px;
}

.msg-div-description-box .msg-div-description-words li {
    font-size: 17px;
    margin-top: 6px;
}

.msg-div-btn-line {
    margin-top: 100px;
    height: 60px;
    /*border: 1px solid #000;*/
}

#msg-div-simulate-btn {
    height: 60px;
    font-size: 18px;
    transition: 0.5s;
}

#msg-div-simulate-btn:hover {
    transition: 0.5s;
    border-radius: 20px;
}

#msg-div-simulate-btn i {
    line-height: 60px;
    font-size: 18px;
}

.msg-div-clear-history {
    height: 60px;
}

.msg-div-clear-history a {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 7px;
    cursor: pointer;
    color: #2F4056;
}

.msg-div-clear-history a:hover {
    text-decoration: underline;
}

.msg-div-delay-card, .msg-div-throughput-card {
    /*min-height: 320px;*/
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

/*.msg-div-delay-card .layui-card-body, .msg-div-throughput-card .layui-card-body {*/
/*    height: 250px;*/
/*}*/

.msg-div-delay-card .not-start-hint, .msg-div-throughput-card .not-start-hint {
    text-align: center;
    font-size: 25px;
    line-height: 250px;
    /*color: #c2c2c2;*/
    color: darkgray;
}

.msg-div-delay-card .not-start-hint i, .msg-div-throughput-card .not-start-hint i {
    font-size: 25px;
}

.msg-div-delay-content, .msg-div-throughput-content {
    border: 1px solid #000;
    /*height: 250px;*/
    height: 100%;
    display: none;
}

.msg-div-delay-card .layui-card-body, .msg-div-throughput-card .layui-card-body {
    position: relative;
    height: 250px;
}

.msg-div-delay-card .loading-hint, .msg-div-throughput-card .loading-hint {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    line-height: 270px; /*需要算上上下padding部分*/
}

.msg-div-delay-card .loading-hint i, .msg-div-throughput-card .loading-hint i {
    font-size: 50px;
}

